.profileEdit {
  margin: 0 auto;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3rem;
  }

  &__firstform,
  &__adressform {
    width: 80vw;
    padding: 2rem;
    margin: 1rem;
  }
}

.profileDisplay {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.5);
  background-color: $color-primary-dark;
  width: 30vw;
  height: 30vh;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  &__img {
    min-height: 25vh;
    max-height: 25vh;
    border-radius: 2rem;
    margin-left: 2rem
  }

  &__content {
    width: 70%;
    p {
      font-size: 1.6rem;
      padding: 1rem;
      margin: 0.5rem;

      word-wrap: break-word;
      white-space: pre-wrap;
      span {
        font-weight: bold;
      }
    }
  }

}
