// COLORS
$color-primary-light: #e3e3e3;
$color-primary-dark: #8f8d8d;

$color-secondary-light:#fc002a;
$color-secondary-dark: #c60021;

$color-grey-light: #fff;
$color-grey-dark: #444;

// $color-white: #ffffff;
$color-grey: rgba(255, 255, 255, 0.151);
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
